@charset "UTF-8";

.hidden{
	display: none;
}

#container{
	width: 958px;
	/*height: 1800px;*/
	padding-right: 10px;
	padding-left: 10px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 40px;
	background-color: #fff;
}

#mainHeader
{
	margin:auto;
	/*margin-top: 40px;*/
	width: 951px;
	height: 197px;
	display: flex;
	flex-direction: row;
	/*margin-bottom: 30px;*/
	background-color: #323131;
}

#topBar{
	width: 949px;
	height: 38px;
	background-color: #110d0d;
	margin:auto;
	margin-top: 5px;
}

#logo{
	width: 142px;
	height: 130px;
	background-color: #110d0d;
	margin-top: 30px;
	margin-left: 10px;
}

#mainNav{
	width: 516px;
	height: 60px;
	background-color: #110d0d;
	margin-top: 60px;
	margin-left: auto;
	/*margin-bottom: 20px;*/
	margin-right: 30px;
}

#heroImage{
	width: 954px;
	height: 223px;
	background-color: #110d0d;
	margin:auto;
	margin-top: 27px;
}

#contentText{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

#text1{
	width: 355px;
	height: 190px;
	background-color: #110d0d;
	margin-top: 20px;
	margin-left: 40px;
}

#text2{
	width: 355px;
	height: 190px;
	background-color: #110d0d;
	margin-top: 20px;
	margin-left: auto;
	margin-right: 40px;
}

#content2{
	display: flex;
	flex-direction: row;
}

#image1{
	width: 186px;
	height: 196px;
	background-color: #110d0d;
	margin-top: 30px;
	margin-left: 60px;
}

#image2{
	width: 186px;
	height: 196px;
	background-color: #110d0d;
	margin-top: 30px;
	margin-left: 20px;
	margin-right: 20px;
}

#image3{
	width: 186px;
	height: 196px;
	background-color: #110d0d;
	margin-top: 30px;
	margin-right: 20px;
}

#image4{
	width: 186px;
	height: 196px;
	background-color: #110d0d;
	margin-top: 30px;
	/*margin-right: 20px;*/
}

#contentText2{
	display: flex;
	flex-direction: row;
	margin-top: 20px;
}

#text3{
	width: 358px;
	height: 235px;
	background-color: #110d0d;
	margin-top: 20px;
	margin-left: 40px;
	margin-right: 40px;
}


#text4{
	width: 358px;
	height: 235px;
	background-color: #110d0d;
	margin-top: 20px;
	margin-left: auto;
	margin-right: 40px;
}

#content3{
	display: flex;
	flex-direction: row;
	margin-top: 20px;
}

#contentImage{
	width: 194px;
	height: 196px;
	background-color: #110d0d;
	margin-left:20px; 
}

#text5{
	width: 640px;
	height: 250px;
	background-color: #110d0d;
	margin-left: auto;
	margin-right: 20px;
}

#mainFooter{
	width: 952px;
	height: 222px;
	background-color: #393939;
	margin:auto;
	margin-top: 40px;
}

/*Newsletter page begins */

#box1{
	display: flex;
	flex-direction: row;
	/*background-color: #fffeff;*/
	margin-top: 40px;
}

#item1{
	width: 260px;
	height: 177px;
	background-color: #323131;
	margin-left: 40px;
}

#item2{
	width: 260px;
	height: 177px;
	background-color: #323131;
	margin-left: 40px;
	margin-right: 60px;
}

#item3{
	width: 152px;
	height: 180px;
	background-color: #323131;
	margin-left: 20px;
}

#box2{
	display: flex;
	flex-direction: row;
	margin-top: 40px;
}

#item4{
	width: 202px;
	height: 167px;
	background-color: #323131;
	margin-left: 60px;
	margin-right: 40px;
}

#item5{
	width: 202px;
	height: 167px;
	background-color: #323131;
	margin-left: 40px;
	margin-right: 40px;
}

#item6{
	width: 202px;
	height: 167px;
	background-color: #323131;
	margin-left: 40px;
}

#item7{
	width: 947px;
	height: 101px;
	background-color: #323131;
	margin-top: 30px;
}